*{
    padding: 0;
    margin: 0;
}

nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}


nav img{
    margin-top: 1rem;
}

#hero{
background-color: white;
}

#hero img{
    margin: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin: 2rem;
    background-color: darkred;
    color: white;
}