*{
    padding: 0;
    margin: 0;
}

nav{
    font-family: 'Times New Roman', Times, serif;
}

nav img{
    margin-top: 1rem;
}

#hero h1{
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin: 2rem;
}